@page "/about"

<h3>A propos</h3>

<p>Cette application est en OpenSource sur mon <a href="https://github.com/AnthonyRyck/HumanRessourcesHelpers" target="_blank">GitHub</a></p>
<p>J'ai fait une image <a href="https://hub.docker.com/repository/docker/anthonyryck/hrhelpers" target="_blank">Docker</a>.</p>
<p>Je fais des applications sur mon temps libre, pour aider, pour apprendre, et parce que j'aime ça !</p>

@code {

}
