@page "/"

<h1>Human Resources Helpers</h1>

<p>C'est un ensemble d'outils (<i>pour l'instant 1 :p</i>) pour aider les ressources humaines, tous secteurs administratifs,...</p>

<p>
	<u>Outils "Mes tableaux"</u>
	<div>
	Permet de créer un tableau avec le nombre de colonne voulu, et le type de donnée choisi. <br />
	Les utilisateurs disposant de l'adresse du tableau peuvent venir ajouter des valeurs.<br />
	Chaque utilisateur voit ces propres valeurs, seul le créateur du tableau peut voir l'ensemble des valeurs, et faire un export en Excel.
	</div>
</p>
