@page "/mestableaux"

@using Radzen.Blazor
@using Radzen
@using HR_Helpers.ViewModels

@inject IMesTableauxViewModel ViewModel

<h3>Mes Tableaux</h3>

<AuthorizeView>
	<NotAuthorized>
		<div>Vous devez disposer d'un compte, où vous connecter.</div>
		<div><a href="/Identity/Account/Register">Inscription</a></div>
		<div><a href="/Identity/Account/Login">Connexion</a></div>
	</NotAuthorized>

	<Authorized>
		<div>
			<RadzenButton Click=@ViewModel.AddTableau
						  Icon="add_circle"
						  ButtonStyle="ButtonStyle.Light"
						  Text="Nouveau tableau" />
		</div>

		<div>
			<h3>Vos tableaux :</h3>
		</div>
		<div class="hr-flex">

			@if (ViewModel.TousMesTableau == null)
			{
				<div>Chargement de vos tableaux en cours ...</div>
			}
			else
			{
				@foreach (var tableau in ViewModel.TousMesTableau)
				{
					<div class="hr-grow" @onclick="(arg => ViewModel.OpenThisTableau(tableau.IdTableau.ToString()))">
						<RadzenCard Style="width:250px; margin: 10px; height:200px;">
							<div>
								<div>
									<u>Nom du tableau</u>
								</div>
								<div>
									@tableau.NomDuTableau
								</div>
							</div>

							<div>
								<div>
									<u>Description</u>
								</div>
								<div>
									<div>
										@tableau.Description
									</div>
								</div>
							</div>

							<div>
								<div>
									<u>Date de fin de saisie</u>
								</div>
								<div>
									@tableau.DateFinInscription.ToString("d")
								</div>
							</div>
						</RadzenCard>
					</div>
				}
			}
		</div>

	</Authorized>
</AuthorizeView>

@code {

}
