.hrhelpers-border {
	border: 2px solid black;
	border-radius: 5px;
}

.hrhelpers-maxHeight500pxWithScroll {
	max-height: 500px;
	overflow-y: scroll;
}

.hrhelpers-width_250px {
	width: 250px;
	max-width: 250px;
}

.hr-margin-5px{
	margin: 5px;
}

.hr-margin-2px-top-bottom {
	margin-top: 2px;
	margin-bottom: 2px;
}

.hr-flex {
	display: flex;
	flex-wrap: wrap;
}

.hr-grow {
	transition: all .2s ease-in-out;
}

.hr-grow:hover {
	transform: scale(1.1);
}

/*Pour legend customDialog*/
.hr-dialog-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2000;
	display: flex;
	animation: dialog-container-entry 0.2s;
}

.hr-dialog {
	background-color: white;
	box-shadow: 0 0 12px rgba(0,0,0,0.6);
	display: flex;
	flex-direction: column;
	z-index: 2000;
	align-self: center;
	margin: auto;
	width: 700px;
	max-height: calc(100% - 3rem);
	animation: dialog-entry 0.4s;
	animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}