.hrhelpers-border {
	border: 2px solid black;
	border-radius: 5px;
}

.hrhelpers-maxHeight500pxWithScroll {
	max-height: 500px;
	overflow-y: scroll;
}

.hrhelpers-width_250px {
	width: 250px;
	max-width: 250px;
}